:root {
  --theme-color: #eaf1fc !important;
  --theme-color-music: #54aaff !important;
  --theme-color-music-bg: #cfe8fe !important;
  --theme-color-music-item-bg: #bee1ff !important;
  --theme-color-music-bg2: #cfe8fe !important;
  --music-bar-active: #a7d4ff !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  min-height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}
.page {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.drag {
  /* 设置该赢性表明这是可拖找区域，用来移动窗口 */
  -webkit-app-region: drag;
}
.no_drag {
  -webkit-app-region: no-drag;
}

.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-algin-center {
  display: flex;
  align-items: center;
}

.title {
  height: 38px;
  line-height: 38px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cursor_pointer {
  cursor: pointer;
}
.no-copy {
  user-select: none;
}

.pdlr20 {
  padding: 0 20px;
}
.mgl20 {
  margin-left: 15px;
}
